<table class="table block-table">
    <thead>
        <tr>
            <th scope="col">Height</th>
            <th scope="col">Id</th>
            <th scope="col">Age</th>
            <th scope="col">Transactions</th>
            <th scope="col">Miner</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks %}
        <tr>
            <th scope="row">{{block.height}}</th>
            <td><a href="/blocks/{{block.id}}">{{block.id}}</td>
            <td>{{block.time}}</td>
            <td>{{block.txs}}</td>
            <td>{{block.miner}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>