{% include "templates/header.html" %}
    <div class="container">
        <div class="row">
                    {% if page>1 %}
                    {% set page=page-1 %}
                    <a href="/txns/{{page}}"><< prev</a>
                    {% set page=page+2 %}

                    {% else %}
                    {% set page=page+1 %}
                    {% endif %}
                    <a href="/txns/{{page}}">next >></a>
                    <table class="table block-table">
                            <thead>
                                <tr>
                                    <th style="overflow: hidden;" scope="col">Id</th>
                                    <th scope="col">Block</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for txn in txns %}
                                <tr>
                                    <th scope="row"><a href="/txn/{{txn.txn}}/{{txn.block}}">{{txn.txn | truncate(20)}}</a></th>
                                    <td><a href="/blocks/{{txn.block}}">{{txn.block | truncate(20)}}</a></td>
                                    <td>{{txn.from | truncate(20)}}</td>
                                    <td>{{txn.to | truncate(20)}}</td>
                                    <td>{{txn.value}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
    </div>
{% include "templates/footer.html"%}